*@import "highlight.css";*/

/* link colors to match header */
a:link { color:  #02023a; }
a:visited { color: #000066; }
a:link:hover { background: #ebebeb; }
/* note: color & background is for links only, not anchors */

body {
     text-align:center;
     background-color: #fdf7ef
     }
     
body {
     text-align:center;
     background-color: #fdf7ef
     }
     
div.content
    {
    float:left;
    text-align:left;
    margin:25px;
    }

div.text
    {
    float:left;
    text-align:left;
    clear:left;
    }

div.text p {
    overflow:hidden
}


div.page_img
    {
    float:right;
    text-align:right;
    margin:25px;
    clear:right;
    }
    
img.resize {
    width:30%;
    height:auto%;
}

hr.pagebreak {
    float:top;
    clear: left;
}

h1 { 
    font-family: "Book Antiqua", serif; 
    color: #000A66; 
    background-color:inherit;
}

h2 { 
    font-family: "Book Antiqua", serif; 
    color: #000033; 
    background-color:inherit; 
}

span.star {
    font-weight: bold;
}

span.author { 
    font-weight: bold; 
    font-size:125%;
}

li.sermon { list-style-type: circle; 
            padding-left: 15px; 
            text-indent: -15px; }



/* styles for the header and footer */
div.header, div.footer { 
    text-align: center; 
    width: 800px;  /*width: 665px;*/ margin: auto; 
}

div.header a { 
    text-decoration: none; 
    padding-right: 1px; 
    padding-left: 1px; 
}

div.header img#head{
    margin-top:0px;
    float: left;
}

div.header p {margin: 0px; }

div.header p.links,div.footer p.links { 
    border-top: 2px solid #000033; 
    margin: 5px; 
    text-align: center; 
    vertical-align: middle; 
    font-size: 90%; 
    color: #000033;
}

div.header p#nav {
    clear: left; 
    margin-bottom:-4px; 
}

div.header p#resources {clear: left;}

div.footer { padding-top: 10px; }

div.footer p#nav { border: none }

p.clear { clear: left; }

div.footer p#nav-foot { border: none }

/*styles for the index page */

/*styles for the search page*/

div.content#search {
    vertical-align:top; 
    text-align: left; 
    width:80%; 
    margin:auto;
}

p.center {text-align: center;}

/*ul.searchtips {width: 100%; height: 4in; text-align:left; border: 2px solid #0000FF;}*/

/* next/prev/etc. navigation */
div.pagenav { 
  margin-bottom:5px; 
  height:20px;
  text-align:center;
}
/* for first/next/last links spacing to be consistent,
   all links should always be present with no link text if there is no url */
div.pagenav a {
  padding-left:30px;
  padding-right:30px;
  text-align:center;
}
div.pagenav a:hover, table.searchnav a:hover {
  color: #FF9933;
}

div.title {
    text-align:center;
}

p.title {
    text-align:center;
}

div#overview {margin: 1in; margin-top:0.5in;}


/* styles for full-size page image display  */
p.fullpage { text-align:center; }
p.fullpage img { border: 1px solid #02023a; }
table.pagenav { width: 100%; }
td.desc {text-align:center;}

/* styles for image thumbs table */
div.thumbs { 
    display: table-cell;
    vertical-algin:middle;
    width:80%;
}

div.thumbs table { 
    border:1px;
    padding:4px;
}
    

