<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
      <html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">


<head>
<title>Martin Luther Funeral Sermon</title>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/index.css">
<link rel="shortcut icon" href="web/images/lincoln.ico">
<!-- dublin core metadata about the project -->
  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
  <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
  <meta name="DC.title" content="The Martyred President: Sermons Given on the Occassion of the  Assassination of Abraham Lincoln"/>
  <meta name="DC.creator" content="Lewis H. Beck Center for Electronic Collections"/>
  <meta name="DC.publisher" content="Lewis H. Beck Center for Electronic Collections"/>
  <meta name="DC.subject" content="Luther, Martin, 1483-1586--Sermons."/>
  <meta name="DC.subject" content="Luther, Martin, 1483-1586--Death and burial."/>
  <meta name="DC.subject" content="Sermons, German--16th century."/>
  <meta name="DC.description" content="Facsimile and English translation of the first edition of Johann Bugenhagen's funeral sermon for Martin Luther"/>
  <meta name="DC.type" scheme="DCTERMS.DCMIType" content="text"/>
  <meta name="DC.format" scheme="DCTERMS.IMT" content="text/html"/>
  <meta name="DC.identifier" content="http://beck.library.emory.edu/luther/"/>
  <meta name="DC.date" content=""/>

</head>
<body>



<div class="index">

<div class="nav">

<!-- To add a new link to the list on the left, add the link below and remember to
change the margin-top property in index.css for div.nav p to lower than 2.25 in to fit the additonal link.-->

    <p>
        <a href="{% url "overview" %}">Overview</a>
        <br>
        <a href="{% url "preface" %}">Preface</a>
        <br>
        <a href="{% url "intro" %}">Introduction</a>
        <br>
        <a href="{% url "text" %}">Text</a>
        <br>
        <a href="{% url "images" %}">Images</a>
        <br>
        <a href="{% url "works" %}">Works</a>
        <br>
  
        
    </p>

</div>

<div class= "img">
    <img src="{{STATIC_URL}}/images/Martin_Luther_by_Lucas_Cranach_der_Ältere.jpeg" width="239.5" height="350" />
</div>
     
    <div class="title">
        <h1>Martin Luther Funeral Sermon</h1>
        <h2>Facsimile and English translation of the first edition of Johann Bugenhagen's funeral sermon for Martin Luther</h2>
    </div>


    <p class="links" id="resources">A Joint Project By:        
     <a href="http://www.emory.edu/CANDLER/">Candler
        School of Theology</a>
        <img src="{{STATIC_URL}}/images/star-trans.gif" width="10" height="10" alt="*">
       <a href="http://www.pitts.emory.edu">Pitts Theology
        Library</a>
        <img src="{{STATIC_URL}}/images/star-trans.gif" width="10" height="10" alt="*">
        <a href="http://beck.library.emory.edu/">Beck Center</a>
    </p>

    <p class="links" id="libraries">
        <a href="http://www.emory.edu/libraries.cfm">University Libraries</a>
    </p>
    <p class="links" id="emory">
        <a href="http://www.emory.edu/">Emory University</a>
    </p>
    <p id="indexsearchbox">
    <form name="keywordsearch" action="search.php" method="get"><p class="searchbox"><b>Search:</b><input id="key" type="text" size="20" name="keyword"><input id="go" type='submit' size="20" value='Go'></p></form>
    </p>

</div>
<div class="tracking">
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11023816-7");
pageTracker._trackPageview();
} catch(err) {}</script>
</div>
</body>

</html>
 